* {
    font-family: 'Heebo', sans-serif;
}

.full-container {
    display: flex;
    flex-direction: row;
}

.container {
    height: 175px;
}

.results {
    width: 500px;
    height: 300px;
}

.fa-virus {
    color: black;
    font-size: 24;
}

.row {
    align-content: center;
}

.buttonSection {
    padding-left: 15px;
}

.jumbotron {
    background-image: url(./images/Portrait.jpg);
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    height: 300px;
}

.centering {
    text-align: center;
}

.lead {
    text-align: justify;
    color: darkslateblue;
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 25px;
}

.display-4 {
    padding: 5px;
    font-size: 70px;
}

.logo {
    padding: 5px;
    margin: 5px;
    width: 80px;
    height: 80px;
    text-align: center;
}

.second {
    color: #5E0086;
    padding-top: 5px;
    font-size: 19px;
}

.accordion-button{
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.covidRed{
    color: red;
}

.covid-style{
    display: inline-flex;
    padding: 5px;
    width: 100%;
    justify-content: center;
    border-bottom: 2px solid darkslateblue;
    margin-bottom: 20px;
}

.accordion-button {
    background-color: white;
    border: 2px solid #5E0086;
    border-radius: 5px;
    margin: 5px;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    box-shadow: 3px 4px #cecece;
}

.btn-primary {
    background-color: #5E0086;
    border-color: #5E0086; 
}

#keyword {
    margin-left: 6px;
    font-size: 20px;
}

#place {
    margin-left: 6px;
    font-size: 20px;
}
