* {
    font-family: 'Heebo', sans-serif;
}

.full-container {
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
}

.container {
    border: 2px solid red;
    height: 175px;
}

.results {
    border: 2px solid lime;
    width: 500px;
    height: 300px;
}

.fa-virus {
    color: black;
    font-size: 24;
}

.row {
    align-content: center;
}

.buttonSection {
    padding-left: 15px;
}

.jumbotron {
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.centering {
    text-align: center;
}

.lead {
    text-align: justify;
    color: darkslateblue;
    padding-top: 10px;
    margin-bottom: 0px;
}

.display-4 {
    padding: 5px;
    
}

.logo {
    padding: 5px;
    margin: 5px;
    width: 80px;
    height: 80px;
    text-align: center;
}

.second {
    color: #5E0086;
    padding-top: 5px;
}

.accordion-button {
    margin: 10px;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    
}


#keyword {
    margin-left: 6px;
}

#place {
    margin-left: 6px;
}

